.about-user {
  margin-bottom: 35px;
  justify-content: space-around;
  align-items: flex-start;

  &__avatar-container {

    & img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &__user-information-container {
    margin-top: 20px;
  }

  &__nickname-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  &__user-nickname {
    margin-right: 5px;
    display: inline;
    font: {
      family: $neue-haas-display-font;
      size: 1.5rem;
    }
    line-height: 2rem;
    text-align: center;
  }

  &__account-statistics-list {
    justify-content: center;
  }

  &__account-statistics-item {
    margin: 0 10px 15px;
  }
}

@include media-breakpoint-up(md) {
  .about-user {

    &__nickname-container {
      justify-content: flex-start;
    }

    &__account-statistics-item {
      margin-bottom: 0;

      &:first-of-type,
      &:last-of-type {
        margin: 0;
      }

      &:first-of-type {
        margin-right: 20px;
      }

      &:last-of-type {
        margin-left: 20px;
      }
    }
  }
}
