.user-bar {
  margin: $margin-auto;
  margin-top: 25px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;

    & svg {
      fill: $svg-color;
      transition: fill $transition-duration;
    }
  }

  &__link:hover svg {
    fill: #c41c1c;
  }

  &__link:active svg {
    fill: #810f0f;
  }
}

@include media-breakpoint-up(md) {
  .user-bar {
    margin: 0;
  }
}
