.publication-list {
  border-top: 1px solid $main-border-color;

  &__list-type {
    display: flex;
    justify-content: center;
  }

  &__item-type {
    margin: 0 40px;
  }

  &__link-type {
    margin-top: -1px;
    padding: 12px 0;
    display: block;
    border-top: 1px solid $transparent;
    transition: opacity $transition-duration;

    &--active {
      border-top-color: $black-color;
    }

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }
}
